body {
  height: 26cm;
  background-image: linear-gradient(45deg, #7e7579, #a6adaa, #49444f);
}

.key {
  width: 80px;
  height: 80px;
  margin: 0 6px;
  background-color: #5d5d5d;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px #3d1f1f solid;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.2);
  border-color: aqua;
  box-shadow: 0 0 10px aqua;
}

kbd {
  background-color: #3a3a3a7f;
  border-radius: 5px;
  border: 1.5px #bfbfbf solid;
  width: 75%;
  text-align: center;
}